
.btn_start,
.quiz_box,
.score_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.quiz_box.active {
    opacity: 1;
    pointer-events: auto;

    transform: translate(-50%, -50%) scale(1);
}

.quiz_box {
    width: 550px;

    transform: translate(-50%, -50%) scale(0.6);
    transition: all 0.3s ease;

    opacity: 0;
    pointer-events: none;
}

.quiz_box header .title {
    font-size: 20px;
    font-weight: 600;
}

.quiz_box .question_text {
    font-size: 20px;
    font-weight: 600;
}

.quiz_box .option_list {
    padding: 18px 0;
}

.quiz_box .option_list .option {
    border: 1px solid #151D3B;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz_box .option_list .option:hover {
    color: #112B2C;
    background: #FFD33D;
}

.quiz_box .option_list .option.correct {
    color: #168b31;
    background: #d4edda;
}

.quiz_box .option_list .option.incorrect {
    color: #721c24;
    background: #f8d7da;
}

.quiz_box .option_list .option.disable{
    pointer-events: none;
} 
.quiz_box .next_btn{
    opacity: 0;
    pointer-events: none;
    transition: all 1s ease;
}
.quiz_box .next_btn.show{
    opacity: 1;
    pointer-events: auto;
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.score_box.active {
    opacity: 1;
    pointer-events: auto;

    transform: translate(-50%, -50%) scale(1);
}
/* Timer */
.quiz_box header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.quiz_box header .timer{
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(230, 224, 224);
    padding: 5px 11px;
    font-size: 15px;
}
.quiz_box header .time_second{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    width: 35px;
    margin-left: 5  px;
    border-radius: 5px;
    background-color: rgb(139, 164, 222);
    padding: 1px 10px;
}
.quiz_box header .time_line{
position: absolute;
bottom: 0;
left: 0;
height: 4px;
/* width: 200px; */
background-color: orange    ;
}
/* Score box*/
.score_box {
    width: 600px;
    align-items: center;
    justify-content: center;
    padding: 30px;
    transform: translate(-50%, -50%) scale(0.6);
    transition: all 0.3s ease;

    opacity: 0;
    pointer-events: none;
    background-color: black;
    color: white;
}
.score_box .icon{
    font-size:100px ;
    color: gold;
} 
